<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "=//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phonemall.mapper.ProductReviewMapper">

<insert id="insert">
	INSERT INTO product_reviews(product_id, review_content, review_reviewer, review_rating)
	VALUES (#{product_id}, #{review_content}, #{review_reviewer}, #{review_rating})
</insert>

<select id="read" resultType="com.phonemall.domain.ProductReviewVO">
	SELECT * FROM product_reviews WHERE review_id = #{review_id}
</select>

<delete id="delete">
	DELETE FROM product_reviews WHERE review_id = #{review_id}
</delete>

<select id="getListWithPaging" resultType="com.phonemall.domain.ProductReviewVO" >
	
(SELECT review_id, null AS reply_id, review_content, review_reviewer, review_regDate, review_rating
FROM product_reviews USE INDEX (idx_reviews)
WHERE product_id=#{product_id}
LIMIT #{cri.pageStart}, #{cri.amount})
UNION ALL(
SELECT * FROM (
	SELECT r.review_id, r.reply_id, r.reply_content, r.reply_replier, r.reply_regDate, null
	FROM review_replies r USE INDEX (idx_replies)
	where r.review_id>0 and r.review_id in (
		SELECT review_id from(
		SELECT  review_id 
		FROM product_reviews USE INDEX (idx_reviews)
		WHERE product_id = #{product_id}
		LIMIT #{cri.pageStart}, #{cri.amount}
			)a
		)
) tmp
)ORDER BY review_id DESC
	
</select>

<select id="getCountByProductId" resultType="int">
	SELECT count(review_id) FROM product_reviews WHERE product_id = #{product_id}
</select>

<insert id="insertReply">
	INSERT INTO review_replies(review_id, reply_content, reply_replier)
	VALUES ( #{review_id}, #{review_content}, #{review_reviewer})
</insert>

<delete id="deleteReply">
	DELETE FROM review_replies WHERE reply_id = #{reply_id}
</delete>

</mapper>