<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "=//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phonemall.mapper.ProductReviewMapper">

<insert id="insert">
	INSERT INTO product_reviews(product_id, review_content, review_reviewer, review_rating)
	VALUES (#{product_id}, #{review_content}, #{review_reviewer}, #{review_rating})
</insert>

<select id="read" resultType="com.phonemall.domain.ProductReviewVO">
	SELECT * FROM product_reviews WHERE review_id = #{review_id}
</select>

<delete id="delete">
	DELETE FROM product_reviews WHERE review_id = #{review_id}
</delete>

<update id="update">
	UPDATE product_reviews SET review_content = #{review_content}, review_rating = #{review_rating}, review_updateDate=SYSDATE() 
	WHERE review_id = #{review_id}
</update>

<select id="getListWithPaging" resultType="com.phonemall.domain.ProductReviewVO" >
	
(SELECT review_id, null AS reply_id, review_content, review_reviewer, review_regDate, review_updateDate, review_rating
FROM product_reviews USE INDEX (idx_reviews)
WHERE product_id = #{product_id}
LIMIT #{cri.pageStart}, #{cri.amount})
UNION ALL(
SELECT * FROM (
	SELECT r.review_id, r.reply_id, r.reply_content, r.reply_replier, r.reply_regDate, r.reply_updateDate, null
	FROM review_replies r USE INDEX (idx_replies)
	JOIN (
		SELECT review_id 
		FROM product_reviews USE INDEX (idx_reviews)
		WHERE product_id = #{product_id}
		LIMIT #{cri.pageStart}, #{cri.amount}
            )rr
	ON r.review_id = rr.review_id
) tmp
)ORDER BY review_id DESC
	
</select>

<select id="getCountByProductId" resultType="int">
	SELECT count(review_id) FROM product_reviews WHERE product_id = #{product_id}
</select>

<insert id="insertReply">
	INSERT INTO review_replies(review_id, reply_content, reply_replier)
	VALUES ( #{review_id}, #{review_content}, #{review_reviewer})
</insert>

<select id="readReply" resultType="com.phonemall.domain.ProductReviewVO">
	SELECT reply_id, reply_content AS review_content, reply_regDate AS review_regDate, reply_updateDate AS review_updateDate FROM review_replies 
	WHERE reply_id = #{reply_id}
</select>

<delete id="deleteReply">
	DELETE FROM review_replies WHERE reply_id = #{reply_id}
</delete>

<update id="updateReply">
	UPDATE review_replies SET reply_content = #{review_content}, reply_replier = #{review_reviewer}, reply_updateDate=SYSDATE() 
	WHERE reply_id = #{reply_id}
</update>

<select id="getMyReviewListWithPaging" resultType="com.phonemall.domain.ProductReviewVO">
(SELECT review_id, review_reviewer, review_content, review_regDate, review_updateDate, review_rating
FROM product_reviews
WHERE review_reviewer = #{review_reviewer}
LIMIT #{cri.pageStart}, #{cri.amount})
UNION ALL(
SELECT * FROM (
	SELECT r.review_id, r.reply_replier, r.reply_content, r.reply_regDate, r.reply_updateDate, null
	FROM review_replies r USE INDEX (idx_replies)
	JOIN (
		SELECT  review_id 
		FROM product_reviews
		WHERE review_reviewer = #{review_reviewer}
		LIMIT #{cri.pageStart}, #{cri.amount}
            )rr
	ON r.review_id = rr.review_id 
) tmp
)ORDER BY review_id DESC

</select>

<select id="getCountByReviewer" resultType="int">
	SELECT count(review_id) FROM product_reviews WHERE review_reviewer = #{review_reviewer}
</select>

</mapper>